<!--
  Example/standalone launcher for the YOCS safety controller
  -->

<launch>
  <arg name="nodelet_manager_name"  value="nodelet_manager"/>
  <arg name="reverse"               value="false"/>
  <arg name="reversing_distance"    value="0.02"/>
  <arg name="reversing_velocity"    value="0.02"/>
  <arg name="enable_topic_name"     value="enable"/>
  <arg name="disable_topic_name"    value="disable"/>
  <arg name="ranger_topic_name"     value="ranger"/>
  <arg name="cmd_vel_topic_name"    value="cmd_vel"/>
  
  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>
  
  <!-- safety controller -->
  <include file="$(find yocs_safety_controller)/launch/safety_controller.launch">
    <arg name="reverse"               value="$(arg reverse)"/>
    <arg name="reversing_distance"    value="$(arg reversing_distance)"/>
    <arg name="reversing_velocity"    value="$(arg reversing_velocity)"/>
    <arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
    <arg name="enable_topic_name"     value="$(arg enable_topic_name)"/>
    <arg name="disable_topic_name"    value="$(arg disable_topic_name)"/>
    <arg name="ranger_topic_name"     value="$(arg ranger_topic_name)"/>
    <arg name="cmd_vel_topic_name"    value="$(arg cmd_vel_topic_name)"/>
  </include>
</launch>
