<!-- Example/stand-alone launcher for the diff-drive pose controller -->

<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>
  
  <node pkg="nodelet" type="nodelet" name="diff_drive_pose_controller"
        args="load yocs_diff_drive_pose_controller/DiffDrivePoseControllerNodelet nodelet_manager">
    <param name="spin_rate" value="25"/>
    <param name="start_enabled" value="false"/>
    <param name="base_frame_name" value="base_footprint"/>
    <param name="goal_frame_name" value="base_goal_pose"/>
    <param name="v_min" value="0.01"/>
    <param name="v_max" value="0.15"/>
    <param name="w_min" value="0.05"/>
    <param name="w_max" value="0.60"/>
    <param name="k_1" value="1.0"/>
    <param name="k_2" value="10.0"/>
    <param name="beta" value="0.2"/>
    <param name="lambda" value="2.0"/>
    <param name="dist_thres" value="0.01"/>
    <param name="orient_thres" value="0.06"/>
  </node>
</launch>