<!--
  navigator launcher
  
    * requires move_base and yocs_waypoint_provider to be available
-->

<launch>
  <arg name="approaches_topic"    default="approaches"/>
  <arg name="trajectories_topic"  default="trajectories"/>
  <arg name="waypoints_topic"     default="waypoints"/>
  
  <node pkg="yocs_navigator" name="semantic_navigator" type="yocs_semantic_navigator_node">
    <remap from="approaches"   to="$(arg approaches_topic)"/>
    <remap from="trajectories"   to="$(arg trajectories_topic)"/>
    <remap from="waypoints"   to="$(arg waypoints_topic)"/>
  </node>
</launch>
